body {
    background-color: white;
}

.Logomarca-pedro {
    width: 250px;

}

header {
    margin: 0 auto;
    display: flex;
    /* para ficar um do lado do outro*/
    justify-content: center;
    /* espaçamentop*/
    align-items: center;
    gap: 20px;
    /*espaçamento*/
    background-color: rgb(40, 19, 80);
    height: 150px;


}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    display: flex;
    /* para ficar um do lado do outro*/
    gap: 56px;
    /* distancia entre os elementos*/
    list-style: none;
    /* tirar os icones ao lado da palavara*/
}

a {
    color: white;
    text-decoration: none;
    /*tirar o sublinhado da palavra*/

}

ul {
    margin: 0;
}

a:hover {
    /* hover é para mudar quando passar o mouse em cima*/
    color: rgb(253, 207, 0);
    transition: 0.3s;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*dividir no meio*/
    border-radius: 5px;
}


.botao-contato {
    padding: 12px 16px;
    background-color: yellow;
    border-radius: 12px;
    /* borda arredondada*/
    color: rgb(40, 19, 80);
}

/* colocar o ponto quer dizer que esta se referindo a uma classe criada no html*/
.botao-contato:hover {
    /* hover é para mudar quando passar o mouse em cima*/
    opacity: 0.7;
    transition: 0.3s;
    background-color: red;
    color: white;
}


.header-botoes {
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 12px 17px;
    font-size: 20px;
}

/*fim do header*/

/* inicio do main*/

.container-esquerda-cima {
    background-color: rgb(40, 19, 80);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.container-esquerda-cima p {
    text-indent: 30px;
    font-size: 20px;
    padding: 20px;
}

.btn-saibamais-principal {
    float: right;
    padding: 12px 16px;
    text-align: end;
    border-radius: 5PX;
    background-color: yellow;
    color: rgb(40, 19, 80);
}

.btn-saibamais-categorias {
    float: right;
    text-align: end;
    border-radius: 5PX;
    background-color: rgb(40, 19, 80);
    color: white;
    padding: 12px 16px;
}


h2 {
    margin-left: 20px;
    margin-top: 20px;
    align-self: center;
    font-size: 30px;
}

.ul-categorias {
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 19, 80);
    color: white;
    padding: 30px;
    gap: 40px;
}

.ul-categorias li {
    background-color: yellow;
    color: rgb(40, 19, 80);
    border-radius: 2px;
    gap: 22px;
}

.categoria-item {
    display: flex;
    align-items: center;
}

.imagens-categoria {
    width: 80px;
    height: 80px;

}

.categoria-item:hover {
    border-left: 5px solid red;
    transform: scale(1.05);
    background-color: rgb(228, 228, 0);

}

/* fim do main*/

/*inicio do footer*/

footer {
    background-color: rgb(40, 19, 80);
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 50px 50px;

}

/* fim do footer*/


@media screen and (max-width: 400px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        /*dividir no meio*/
        border-radius: 5px;
    }
}

@media screen and (max-width: 800px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        /*dividir no meio*/
        border-radius: 5px;
    }

    navbar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        height: 100%;
    }

    .Logomarca-pedro {
        max-width: 100%;
        
    
    }
}

@media screen and (max-width: 400px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        /*dividir no meio*/
        border-radius: 5px;
    }
    
    navbar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        height: 40;
    }
    
    .Logomarca-pedro {
        max-width: 800px;
        
    
    }

}